name: main

on: [push]

jobs:
  detect-project-root:
    runs-on: ubuntu-latest
    outputs:
      project_dir: ${{ steps.find_project.outputs.project_dir }}
      action_dir: ${{ steps.find_action.outputs.action_dir }}
    steps:
      - uses: actions/checkout@v5

      - id: find_project
        run: |
          PROJECT_DIR=$(find . -maxdepth 3 -type f -name "package.json" | head -n 1 | xargs dirname)
          echo "project_dir=$PROJECT_DIR" >> $GITHUB_OUTPUT

      - id: find_action
        run: |
          ACTION_DIR=$(find . -maxdepth 3 -type f -name "action.yml" | head -n 1 | xargs dirname)
          echo "action_dir=$ACTION_DIR" >> $GITHUB_OUTPUT


  test-action:
  runs-on: ubuntu-latest
  needs: detect-project-root
  steps:
    - uses: actions/checkout@v5

    - name: modify action.yml to use local Dockerfile
      working-directory: ${{ needs.detect-project-root.outputs.action_dir }}
      run: sed -i "s/image: .*/image: Dockerfile/" action.yml

    - name: generate-snake-game-from-github-contribution-grid
      uses: ./${{ needs.detect-project-root.outputs.action_dir }}
      with:
        github_user_name: platane
        outputs: |
          dist/github-contribution-grid-snake.svg
          dist/github-contribution-grid-snake-dark.svg?palette=github-dark
          dist/github-contribution-grid-snake-ocean.svg?color_snake=orange&color_dots=#dadcdf94,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
          dist/github-contribution-grid-snake-grey.svg?color_snake=111&color_dots=#eee,#aaa,#888,#666,#444
          dist/github-contribution-grid-snake.gif
          dist/github-contribution-grid-snake-dark.gif?palette=github-dark
          dist/github-contribution-grid-snake-ocean.gif?color_snake=orange&color_dots=#dadcdf94,#8dbdff,#64a1f4,#4b91f1,#3c7dd9&color_background=#f7f8fa

    - name: deploy generated files
      uses: crazy-max/ghaction-github-pages@v4.1.0
      with:
        target_branch: output
        build_dir: dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  test-action:
    runs-on: ubuntu-latest
    needs: detect-project-root
    steps:
      - uses: actions/checkout@v5

      - name: modify action.yml to use local Dockerfile
        run: sed -i "s/image: .*/image: Dockerfile/" action.yml
        working-directory: ${{ needs.detect-project-root.outputs.action_dir }}

      - name: generate-snake-game-from-github-contribution-grid
        uses: ${{ needs.detect-project-root.outputs.action_dir }}
        with:
          github_user_name: platane
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            dist/github-contribution-grid-snake-ocean.svg?color_snake=orange&color_dots=#dadcdf94,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
            dist/github-contribution-grid-snake-grey.svg?color_snake=111&color_dots=#eee,#aaa,#888,#666,#444
            dist/github-contribution-grid-snake.gif
            dist/github-contribution-grid-snake-dark.gif?palette=github-dark
            dist/github-contribution-grid-snake-ocean.gif?color_snake=orange&color_dots=#dadcdf94,#8dbdff,#64a1f4,#4b91f1,#3c7dd9&color_background=#f7f8fa

      - name: deploy generated files
        uses: crazy-max/ghaction-github-pages@v4.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  deploy-ghpages:
    runs-on: ubuntu-latest
    needs: detect-project-root
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v1

      - run: bun install --frozen-lockfile
        working-directory: ${{ needs.detect-project-root.outputs.project_dir }}

      - run: npm run build:demo
        working-directory: ${{ needs.detect-project-root.outputs.project_dir }}
        env:
          GITHUB_USER_CONTRIBUTION_API_ENDPOINT: https://github-user-contribution.platane.workers.dev/github-user-contribution/

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ needs.detect-project-root.outputs.project_dir }}/dist

      - uses: actions/deploy-pages@v4
        if: success() && github.ref == 'refs/heads/main'
